<?xml version="1.0"?>
<appSettings>
  <add key="ida:AppID" value="76fb1908-c2f4-4d7f-821d-913d041ff9c5" />
  <add key="ida:AppSecret" value="4Nx7KBHHD?.aJ/gX1yoXs-TrRU3Ixc7a" />
  <add key="ida:RedirectUri" value="https://localhost:44352/" />
  <add key="ida:AppScopes" value="People.Read.All User.Read Calendars.Read Contacts.ReadWrite Sites.Read.All Sites.ReadWrite.All Mail.ReadWrite Mail.Send Calendars.ReadWrite Group.ReadWrite.All User.ReadBasic.All User.Read User.ReadWrite User.Read.All User.ReadWrite.All Directory.Read.All Directory.ReadWrite.All Directory.AccessAsUser.All" />
  <add key="ida:SpUrl" value="https://arafate.sharepoint.com/sites/DevSite" />
  <add key="ida:SpPassword" value="55Accountarafae%% " />
  <add key="ida:SpTenant" value="Eashir@arafate.onmicrosoft.com" />

</appSettings>
